@model IEnumerable<WebBanHang.Models.LoaiSanPham>

@{
    ViewData["Title"] = "Quản lý loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Quản lý loại sản phẩm</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Loại sản phẩm</span>
        </nav>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-4">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="LoaiSanPhams" asp-action="Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm mới</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th style="font-weight:bold">ID</th>
                        <th style="font-weight:bold">Tên</th>
                        <th style="font-weight:bold">Mô tả</th>
                        <th style="font-weight:bold">#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td style="font-weight:bold">@item.MaLoai</td>
                                <td>@item.TenLoai</td>
                                <td>@item.MoTa</td>
                                <td>
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded" asp-area="Admin" asp-controller="LoaiSanPhams" asp-action="Edit" asp-route-id="@item.MaLoai">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded" asp-area="Admin" asp-controller="LoaiSanPhams" asp-action="Delete" asp-route-id="@item.MaLoai">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
