@model WebBanHang.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaGiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CongSuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CongSuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhoiLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhoiLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaoHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaoHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiNavigation.MaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThNavigation.MaTh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
