@model WebBanHang.ModelViews.XemDonHang
<style>
    .rating {
        display: inline-block;
        position: relative;
        height: 50px;
        line-height: 50px;
        font-size: 50px;
    }

        .rating label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
        }

            .rating label:last-child {
                position: static;
            }

            .rating label:nth-child(1) {
                z-index: 5;
            }

            .rating label:nth-child(2) {
                z-index: 4;
            }

            .rating label:nth-child(3) {
                z-index: 3;
            }

            .rating label:nth-child(4) {
                z-index: 2;
            }

            .rating label:nth-child(5) {
                z-index: 1;
            }

            .rating label input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }

            .rating label .icon {
                float: left;
                color: transparent;
            }

            .rating label:last-child .icon {
                color: #000;
            }

        .rating:not(:hover) label input:checked ~ .icon,
        .rating:hover label:hover input ~ .icon {
            color: #4099a1;
        }

        .rating label input:focus:not(:checked) ~ .icon:last-child {
            color: #000;
            text-shadow: 0 0 5px #4099a1;
        }
</style>
<script>
    $(':radio').change(function () {
        console.log('New star rating: ' + this.value);
    });
</script>


@if (Model.ChiTietDonHang != null)
{
    <h5 style="font-family:Verdana">Đơn hàng #@Model.DonHang.MaDh</h5>
    <br />
    <p>Tổng tiền: @Model.DonHang.TongTien.Value.ToString("#,##0") đ</p>

    <p>Trạng thái: @Model.DonHang.MaTtNavigation.TenTt</p>

    @if (Model.DonHang.MaTt == 1)
    {
        <form asp-controller="DonHang" asp-action="Huy" method="post">
            <input hidden id="madh" name="madh" value="@Model.DonHang.MaDh" type="text">
            <button class="btn btn-secondary btn-primary-hover" type="submit">Hủy đơn hàng</button>
        </form>
    }
    @if (Model.DonHang.MaShipper != null)
    {
        <p>Shipper: @Model.DonHang.MaShipperNavigation.TenShipper - SĐT: @Model.DonHang.MaShipperNavigation.Sdt</p>
        @*<p>Loại xe: @Model.DonHang.MaShipperNavigation.LoaiXe</p>
        <p>Biển số: @Model.DonHang.MaShipperNavigation.BienSo</p>*@
    }
    
    

    <br />
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Sản phẩm</th>
                    <th>SL</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
                @foreach (var item in Model.ChiTietDonHang)
                {
                    <tr>
                        <td><a class="account-order-id" href="javascript:void(0)">#@item.MaSp</a></td>
                        <td>
                            @item.MaSpNavigation.TenSp
                            @if(Model.DonHang.MaTt == 4)
                            {
                                <br />
                                <button style="height:25px; font-size:12px" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Đánh giá</button>
                            }
                            
                        </td>
                        <td>@item.SoLuong</td>
                        <td>
                            <del>@item.GiaBan.Value.ToString("#,##0") đ</del>
                            <br />@item.GiaGiam.Value.ToString("#,##0") đ
                        </td>
                        <td style="font-weight:bold">@item.TongTien.Value.ToString("#,##0") đ</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-family:Verdana" class="modal-title" id="exampleModalLabel">Đánh giá sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <label for="recipient-name" class="col-form-label">Đánh giá</label>
                        </div>
                        <div class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Bình luận</label>
                            <textarea rows="5" class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Viết đánh giá</button>
                </div>
            </div>
        </div>
    </div>
}