@model WebBanHang.ModelViews.MuaHangVM
@{
    ViewData["Title"] = "Mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<WebBanHang.ModelViews.CartItem> Carts = ViewBag.GioHang;
}

<style type="text/css">
    .nice-select .list {
        border-radius: 0px;
        overflow-y: auto;
        overflow: hidden;
        max-height: 200px;
        overflow-y: scroll;
    }

    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
        color: red;
        background: none;
    }
</style>


<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" style="height:150px;background-color:#E3F0E1">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 style="font-family:Verdana" class="breadcrumb-heading">Đặt hàng</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="coupon-accordion">
                        
                        <h3 style="font-family:Verdana">Bạn có mã giảm giá? <span id="showcoupon">Nhập mã tại đây</span></h3>
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <form action="javascript:void(0)">
                                    <p class="checkout-coupon">
                                        <input placeholder="CODE" type="text">
                                        <input class="coupon-inner_btn" value="Áp dụng" type="submit">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form asp-controller="Checkout" asp-action="Index" method="post">
                <input hidden asp-for="CustomerId" />
                <div class="row">
                    <div class="col-lg-6 col-12">

                        <div class="checkbox-form">
                            <h3 style="font-family:Verdana">Thông tin giao hàng</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Họ tên <span class="required">*</span></label>
                                        <input asp-for="FullName" placeholder="" type="text">
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Số diện thoại <span class="required">*</span></label>
                                        <input asp-for="Phone" placeholder="" type="text">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Địa chỉ nhận hàng<span class="required">*</span></label>
                                        <input asp-for="Address" placeholder="" type="text">
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Tỉnh/Thành<span class="required">*</span></label>
                                        <select asp-for="TinhThanh" class="myniceselect nice-select wide" asp-items="ViewBag.lsTinhThanh">
                                            <option value="0" disabled selected>Tỉnh/Thành</option>
                                        </select>
                                        <span asp-validation-for="TinhThanh" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Quận/Huyện<span class="required">*</span></label>
                                        <select asp-for="QuanHuyen" class="myniceselect nice-select wide" asp-items="ViewBag.lsQuanHuyen">
                                            <option value="0" disabled selected>Quận/Huyện</option>
                                        </select>
                                        <span asp-validation-for="QuanHuyen" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Phường/Xã<span class="required">*</span></label>
                                        <select asp-for="PhuongXa" class="myniceselect nice-select wide" asp-items="ViewBag.lsPhuongXa">
                                            <option value="0" disabled selected>Phường/Xã</option>
                                        </select>
                                        <span asp-validation-for="PhuongXa" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            @*                            <div class="different-address">
                            <div class="order-notes">
                            <div class="checkout-form-list checkout-form-list-2">
                            <label>Ghi chú</label>
                            <textarea id="checkout-mess" cols="30" rows="10" placeholder=""></textarea>
                            </div>
                            </div>
                            </div>*@
                        </div>

                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="your-order">
                            <h3 style="font-family:Verdana">Đơn hàng</h3>

                            <div class="your-order-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="cart-product-name"><strong>Sản phẩm</strong></th>
                                            <th class="cart-product-total"><strong>Tổng</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Carts.Count() > 0)
                                        {
                                            foreach (var item in Carts)
                                            {
                                                <tr class="cart_item">
                                                    <td class="cart-product-name">
                                                        @item.product.TenSp<strong class="product-quantity">
                                                            × @item.amount
                                                        </strong>
                                                    </td>
                                                    <td style="text-align:right" class="cart-product-total"><span class="amount">@item.TotalMoney.ToString("#,##0") đ</span></td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Giảm giá</th>
                                            <td style="text-align:right"><span class="amount">0 đ</span></td>
                                        </tr>
                                        <tr class="cart-subtotal">
                                            <th>Tạm tính</th>
                                            <td style="text-align:right"><span class="amount">@Carts.Sum(x=>x.TotalMoney).ToString("#,##0") đ</span></td>
                                        </tr>
                                        <tr class="cart-subtotal">
                                            <th>Phí giao hàng</th>
                                            <td style="text-align:right">
                                                @if (Carts.Sum(x => x.TotalMoney) >= 999000)
                                                {
                                                    <span class="amount">
                                                        0 đ
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="amount">
                                                        50,000 đ
                                                    </span>
                                                }

                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Tổng đơn hàng</th>
                                            <td style="text-align:right">
                                                <strong>
                                                    @if (Carts.Sum(x => x.TotalMoney) >= 999000)
                                                    {
                                                        <span class="amount">@Carts.Sum(x=>x.TotalMoney).ToString("#,##0") đ</span>
                                                    }
                                                    else
                                                    {
                                                        int tong = @Carts.Sum(x => x.TotalMoney) + 50000;
                                                        <span class="amount">@tong.ToString("#,##0") đ</span>
                                                    }
                                                </strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment-method">
                                <div class="payment-accordion">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="#payment-1">
                                                <h5 class="panel-title">
                                                    <a href="javascript:void(0)" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                                        Thanh toán khi nhận hàng
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>
                                                        Khách hàng thanh toán khi nhận hàng
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-button-payment">
                                        <input value="Xác nhận đặt hàng" type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $('select').niceSelect();
            //
            $(function () {
                $("#TinhThanh").change(function () {
                    var tinhThanhId = $('#TinhThanh').val();

                    $.ajax({
                        url: '/Location/QuanHuyenList',
                        type: "GET",
                        datatype: "json",
                        data: {
                            TinhThanhId: tinhThanhId,
                        },
                        success: function (QuanHuyens) {
                            //
                            $('#QuanHuyen').empty();
                            $('#PhuongXa').empty();
                            //
                            var strPhuongXa = '<option value="" disabled selected>Phường/Xã</option>';
                            $('#PhuongXa').append(strPhuongXa);
                            var strQuanHuyen = '<option value="" disabled selected>Quận/Huyện</option>';
                            $('#QuanHuyen').append(strQuanHuyen);

                            $.each(QuanHuyens, function (i, item) {
                                var option = '<option value="' + item.maqh + '">' + item.name + '</option>';
                                $('#QuanHuyen').append(option);

                            });
                            $('select').niceSelect('update');
                        },
                    });
                });


            });
            $(function () {
                $("#QuanHuyen").change(function () {
                    var quanHuyenId = $('#QuanHuyen').val();

                    $.ajax({
                        url: '/Location/PhuongXaList',
                        type: "GET",
                        datatype: "json",
                        data: {
                            QuanHuyenId: quanHuyenId,
                        },
                        success: function (PhuongXas) {
                            //
                            $('#PhuongXa').empty();
                            //
                            var rol = '<option value="" disabled selected>Phường/Xã</option>';
                            $('#PhuongXa').append(rol);

                            $.each(PhuongXas, function (i, item) {
                                var option = '<option value="' + item.maxa + '">' + item.name + '</option>';
                                $('#PhuongXa').append(option);

                            });
                            $('select').niceSelect('update');
                        },
                    });
                });
            });
        });
    </script>
}

