@model IEnumerable<WebBanHang.Models.ThuongHieu>

@{
    ViewData["Title"] = "Quản lý thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý thương hiệu</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên Thương hiệu
            </th>
            <th>
                Mô tả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
